.add-marks-modal-box {
  width: 500px !important;
}

.each-input-in-add-marks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addmarks-button-in-kidmarks {
  margin-left: 5px !important;
}
