.diary-bg-container {
  background-color: #f3f9fe;
  min-height: 100vh;
}
.notifications-whole-container {
  display: flex;
  flex-direction: row;
}
.compose-container {
  background-color: #ffffff;
  width: 80%;
  text-align: left;
  padding: 10px;
}
.diary-left-tabs-container {
  width: 20%;
}
.diary-left-tab-btns {
  border-style: none;
  background-color: none;
  width: 100%;
  margin-top: 5px;
}
.diary-each-notification-container {
  display: flex;
  flex-direction: row;
}
.diary-first-letter {
  background-color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}
