.school-reg-bg-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 79%;

}
.school-reg-heading{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.school-reg-form-container{
    margin-right: 10%;
    width: 35%;
}
.school-reg-each-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px !important;
    margin-top: 0 !important;
    width: 100%;
}
