.nav-container {
  border-bottom: 1px solid black;
  padding-right: 20px;
  transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
  
}
.navbar-top-0{
 top:0px !important;
}
.navbar-top-50{
  top: -80px;
}
.navbar-logo{
  height: 50px;
}