.nav-container {
  padding-right: 20px;
  transition: all 1s;
  background-color: transparent;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    border-bottom:1px solid black;
}
.nav-show{
  top:0px;
 animation: fade;
 animation-duration: 1s;
 background-color: rgba(59,59,59,0.7);
 border-style: none;

}
.nav-hide{
  animation: fade;
 animation-duration: 1s;
  top: -80px;
  background-color: transparent;
  transition: all 1s;
  border-style: none;
 

 
}
.navbar-logo{
  height: 50px;
}
.nav-items-white{
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}
.nav-items-white:hover{
  color:blue;

}
.nav-items-black{
  color: black;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
}
