* {
  box-sizing: border-box;
}

.dbhome-bg-container {
  background-color: #f3f9fe;
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 772px) {
  .dbhome-bg-container {
    flex-direction: column;
  }
}
.dbhome-left-container {
  width: 66.6%;

  padding-right: 0px !important;
}
@media screen and (max-width: 772px) {
  .dbhome-left-container {
    width: 100%;
    min-height: 100vh;
  }
}

/* user !important to override bootstrap styles */

.dbhome-upper-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 772px) {
  .dbhome-upper-container {
    flex-direction: row;
    height: 312px;
  }
}
.dbhome-lower-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 772px) {
  .dbhome-lower-container {
    flex-direction: row;
    height: 312px;
  }
}

.dbhome-right-container {
  border: 1px solid black;
  width: 33.3%;
  box-sizing: border-box;
}
@media screen and (max-width: 772px) {
  .dbhome-right-container {
    width: 100%;
  }
}
.right-container-attendance-heading {
  color: #04103d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.db-right-container-holidays-heading {
  padding: 12px;
  background-color: #0074d9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid rgb(214, 223, 230);
  box-sizing: border-box;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
.dbhome-holidays-no-items-to-display {
  margin-top: -8px;
  background-color: #ffffff;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  text-align: left;
}
.db-right-container-birthdays-heading {
  padding: 12px;
  background-color: #0074d9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid rgb(214, 223, 230);
  box-sizing: border-box;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
.db-birthdays-right-container-body {
  margin-top: -8px;
  background-color: #ffffff;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  text-align: left;
}
