* {
  box-sizing: border-box;
}

.dbhome-bg-container {
  background-color: #f3f9fe;
  width: 98.8vw;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.dbhome-left-container {
  width: 66.6%;
  border: 1px solid black;
  padding-right: 0px !important;
}

/* user !important to override bootstrap styles */

.dbhome-upper-container {
  display: flex;
  flex-direction: row;
}
.dbhome-lower-container {
  display: flex;
  flex-direction: row;
}

.dbhome-right-container {
  border: 1px solid black;
  width: 33.3%;
  box-sizing: border-box;
}
