.save-btn-in-kidmarks {
  margin-left: 2px !important;
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 2px !important;
  border: 1px solid rgb(1, 97, 128);
  background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
}
.save-btn-in-kidmarks:hover {
  background-image: linear-gradient(
    to bottom,
    #209fc8 0%,
    #6dd2f3 50%,
    #209fc8 100%
  ) !important;
  color: black;
}
/* save btn modal */
.save-btn-modal {
  transform: scale(-0.2) !important ;
  opacity: 0;
  transition: all 0.4s ease-in-out !important;
}

.save-btn-modal.show {
  opacity: 1;
  transform: scale(1) !important;
  transition: all 0.4s ease-in-out !important;
  top: 30%;
}
.save-btn-modal .modal-header {
  background-color: #177ed7;
  height: 55px;
  color: #ffffff;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out !important;
  border-radius: 0px !important;
  /* to get gull border==> to remove default border to bootstrap react modal */
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  
}

.save-btn-modal .modal-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.save-btn-modal .modal-footer {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-top: 0 none;
  transition: all 0.4s ease-in-out !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
