* {
  box-sizing: border-box;
}

.dbhome-attendence-container {
  background-color: #696984;
  border: 5px solid #e0e0e0;
  cursor: pointer;
  width: 33%;
}

.dbhome-inner-attendence-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-top: -5px;
  margin-bottom: -5px;
}

.dbhome-day-heading {
  color: white;
  font-size: 15px;
  justify-content: right;
  align-items: center;
  border: 1px solid black;
}

.dbhome-day-description {
  color: white;
  font-size: 15px;
  justify-content: left;
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #0572cd;
  animation-duration: 0.5s;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.dbhome-description {
  color: white;
  text-align: center;
  font-size: 15px;
}
.dbhome-attendance-sub-title {
  color: white;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 15px;
  margin-bottom: 20px;
}
/* right container */

.right-container-attendance-heading {
  color: #04103d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.dbhome-attendance-sub-containers-hr-line {
  height: 3.5px;
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid white !important;
}
